
body {

    margin: 0;

    background: linear-gradient(to right, #999bcb, #1b0c44
    );

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background: linear-gradient(to left, #000000, rgba(228, 38, 11, 0.83));
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color:#ADFF2F;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
