<html xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    <style>

        table {

            border-collapse: collapse;
            width: 100%;
        }
    tr:nth-child(even) {
    background-color: #dddddd;
    }
    </style>
</head>

<body>
<ul>
    <li><a class="active" href="/Index.html">User Repository</a></li>
    <li><a href="/allusers">Display User</a></li>
    <li><a href="/adduser">Add User</a></li>

</ul>


<div style="margin-left:25%;padding:1px 16px;height:1000px;">
<p>&nbsp;&nbsp;</p>
<table style="width: 50%" border="1px" >
    <tr bgcolor="#ADFF2F" style="color: white">
        <td >
            <h4 > UserId:</h4>
        </td>
        <td >
           <h4> UserName:</h4>
        </td>
        <td>
           <h4> Email:</h4>
        </td>
        <td>
            <h4> Actions</h4>
        </td>
    </tr>
    <tr th:each="user: ${users}"  >
        <td>
            <p th:text="${user.getId()}"></p>
        </td>
        <td>
            <p th:text="${user.getName()}"></p>
        </td>
        <td>
          <p th:text="${user.getEmailadd()}"></p>
        </td>
        <td>
            <span><a th:href="@{/updateuser(id=${user.getId()})}">Update</a></span>
            <span><a th:href="@{/removeuser(id=${user.getId()})}">Delete</a></span>
        </td>
    </tr>

</table>
</div>

</body>
</html>